body {
	font-family: "Roboto", sans-serif;
	max-width: 100%;
	margin: 0px;
	font-size: 10px;
	background-color: #f2f2f2;
	color: #737373;
}

h1{
	font-size: 3.5em;
}
h2{
	font-size: 2.5em;
}
h3{
	font-size: 2em;
}
p{
	font-size: 1.5em;
}
span {
	font-size: 2em;
}

hr{
	width: 100%;
	color: rgb(217, 217, 217, 0.5);opacity: 0.1;

}

footer {
	margin-top: 30px;
}

/* contenedor principal*/
.contenedor-columnas{
	display: flex;
  justify-content: center;
	max-width: 100%;
}

/* contenedor principal de columna izquierda*/
.columna-izquierda{
	float: left;
	width: 25%;
}

.box-izquierdo{
	background: #fff;
	box-shadow: 0px 0px 5px 5px rgb(217, 217, 217);
	margin: 15px 7px 15px 15px;
}
.box-foto{
	position: relative;
	text-align: left;
	margin: 15px 0px 0px 0px;
}

.box-foto-nombre{
	position: absolute;
	bottom: 5%;
	left: 10%;
}

.box-izquierda-info{
	padding: 5%;
}

.box-datos-personales, .box-habilidades, .box-idiomas{
	padding: 0px 5% 0px 5%;
}

.icono-0 {
	font-size: 4em;
	padding: 0.2em;
	color: #ffad33!important;
}

.icono-1 {
	font-size: 3em;
	padding: 0.2em;
	color: #ffad33!important;
}

.icono-2 {
	font-size: 2em;
	padding: 0.2em;
	color: #ffad33!important;
}

.barra-porcentaje-fondo{
	background-color: #f2f2f2;
	border-radius:16px;
	text-align: center;
	height: 20px;
}

.barra-porcentaje-relleno{
	background-color: #ffad33;
	border-radius: 16px;
	height: 20px;
	font-size: 1.5em;
}

/* contenedor principal de columna derecha*/
.columna-derecha {
	float: left;
	width: 50%;
	height: 100%;
}

.columna-derecha-box {
	background: #fff;
	box-sizing: 0;
	padding: 2% 4%;
	border-style: none;
	box-shadow: 0px 0px 5px 5px rgb(217, 217, 217);
	margin: 15px 15px 15px 7px ;
}

.columna-derecha-box-info{
	margin: 4%;
}

.actualidad{
	background-color: #ffad33;
	color: #fff!important;
	font-size: 1em!important;
	font-weight: normal!important;
	border-radius: 5px;
	padding: 2px;
}

.contenedor-redes{
	background-color: #ffad33;
	overflow: auto;
	text-align: center;
	padding: 20px;
}

.contenedor-redes a {
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size: 30px!important;
}

.contenedor-redes a:hover {
  color: #b36b00;
}

@media only screen and (max-width: 1100px) {
	.contenedor-columnas{
		display: flex;
		justify-content: inherit;
	}
	.columna-izquierda, .columna-derecha {
		width: 100%;
	}
} 

@media only screen and (max-width: 620px) {
	.contenedor-columnas{
	display: inline-block;
	width: 100%;
	}
	.columna-izquierda, .columna-derecha {
		width: 100%;
		float: none;
	}
	.box-izquierdo{
	margin: 15px 15px 15px 15px;
	}
	.columna-derecha-box {
		margin: 15px 15px 15px 15px ;
	}
	span {
		font-size: 1.5em;
	}
}